<div class="capture-page-body border-l-2">
  <form [formGroup]="form" class="flex flex-col">
    <h2>Neues Bauwerk erfassen</h2>
    <mat-form-field>
      <mat-label>Bauwerk</mat-label>
      <input formControlName="structure" matInput placeholder="Name/Bezeichnung"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Ort</mat-label>
      <input formControlName="city" matInput placeholder="z.B. Kriens LU"/>
    </mat-form-field>
    <div class="flex flex-row justify-between gap-6">
      <mat-form-field class="w-full">
        <mat-label>Latitude</mat-label>
        <input formControlName="latitude" matInput placeholder="47.0502"/>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Longitude</mat-label>
        <input formControlName="longitude" matInput placeholder="8.3093"/>
      </mat-form-field>
    </div>
    <div class="flex flex-row justify-between gap-6">
      <mat-form-field class="w-full">
        <mat-label>Architektur</mat-label>
        <input formControlName="architecture" matInput placeholder="Büro/Person"/>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-select formControlName="category" placeholder="Kategorien">
          <mat-option *ngFor="let category of categories" [value]="category.value">
            <div class="flex flex-row items-center justify-between">
              <span>{{category.value}}</span>
              <div [ngStyle]="{'background-color': category.color}" class="category-color"></div>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flex flex-row justify-between gap-6">
      <mat-form-field class="w-full">
        <mat-label>Baujahr</mat-label>
        <input formControlName="constructionYear" matInput placeholder="z.B. 1959"/>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Link</mat-label>
        <input formControlName="link" matInput placeholder="weiterführender Link"/>
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>Beschrieb</mat-label>
      <textarea [cols]="4" formControlName="description" matInput placeholder="Objektbeschrieb..."></textarea>
    </mat-form-field>
    <h1>BILDER</h1>
    <p>Die Angaben werden vom Innerschweizer Heimatschutz geprüft. Geben Sie bitte für Rückfragen
      Ihre Kontaktdaten an (werden nicht veröffentlicht).</p>
    <div class="flex flex-row justify-between gap-6">
      <mat-form-field class="w-full">
        <mat-label>Name/Vorname</mat-label>
        <input formControlName="fullName" matInput placeholder="Max Bill"/>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>E-Mail</mat-label>
        <input formControlName="email" matInput placeholder="maxbill@bluewin.ch"/>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Telefonnummer</mat-label>
        <input formControlName="phone" matInput placeholder="079 300 40 50"/>
      </mat-form-field>
    </div>
  </form>
  <button (click)="sendForm()" [disabled]="form.invalid" class="w-full" color="primary" mat-raised-button>
    <span *ngIf="!sendingForm">Angaben
      hochladen</span>
    <div *ngIf="sendingForm" class="justify-center flex m-2">
      <mat-spinner [diameter]="22"></mat-spinner>
    </div>
  </button>
</div>
