:host {
  .capture-page-body {
    width: 50vw;
    height: calc(100vh - 4rem);
    position: absolute;
    top: 4rem;
    right: 0;
    background-color: white;
    padding: 40px 40px 0px 40px;
    animation-name: open;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
  }

  .preview {
    max-width: 180px;
    object-fit: cover;
  }

}

.category-color {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px darkgray solid;
}
