<div class="information-body border-l-2">
  <div class="flex flex-row justify-between">
    <h2 class="font-bold">Das Projekt</h2>
    <a (click)="close()" class="cursor-pointer">schliessen</a>
  </div>
  <div class="flex flex-col">
    <p>Gute Baukultur schafft Räume, Landschaften und Orte, wo Vergangenheit,
      Gegenwart und Zukunft aufeinandertreffen. Vielfältige und identitätsstiftende
      Baukultur verbindet den politischen Wandel, soziokulturelle Bedürfnisse aber
      auch den wirtschaftlichen Mehrwert. Dafür braucht es Dialog und Sensibilisierung. Der IHS versteht sich als
      Vermittler und Ermöglicher für qualitative
      Baukultur.</p>
    <p class="font-bold mt-24">Bauen ausserhalb der Bauzone</p>
    <p class="mt-10">Ein wichtiges Thema für die Baukultur in der Innerschweiz ist das Bauen
      ausserhalb der Bauzone. Für diese braucht es historisch informierte, landschaftsgerechte, aber auch funktionelle
      und ökonomisch sinnvolle Lösungen.
      Der IHS bietet mit seinen Fachgremien Beratungsdienstleistungen für
      Bauherren, Planer und Behörden. Zudem ist die Sensibilisierung für dieses
      Thema ein Kernanliegen des IHS.
    </p>
  </div>
</div>
