<div>
  <div #map class="map-container">
    <div class="action-bar flex flex-row justify-between">
      <div class="filter">
        <mat-form-field appearance="outline" class="w-full">
          <mat-select placeholder="Kategorien">
            <mat-option *ngFor="let category of categories" [value]="category.value">
              <div class="flex flex-row justify-between">
                <span>{{category.value}}</span>
                <div class="category-color"></div>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <form class="search-field">
        <mat-form-field appearance="outline" class="w-full">
          <input [formControl]="myControl"
                 matInput
                 placeholder="Suche nach Region, Bauwerk, Jahr, ..."
                 type="text">
          <mat-icon fontIcon="fa-magnifying-glass" fontSet="fa" matPrefix></mat-icon>
        </mat-form-field>
      </form>
    </div>

    <google-map #googleMap [height]="map.offsetHeight"
                [options]="googleMapsOptions" [width]="'100vw'"></google-map>
  </div>
</div>
