<div>
  <div class="map-container">
    <div class="action-bar flex flex-row justify-between">
      <div class="filter">
        <mat-form-field appearance="outline" class="w-full">
          <mat-select [formControl]="categoryFilterControl" placeholder="Kategorien">
            <mat-option *ngFor="let category of categories" [value]="category.value">
              <div class="flex flex-row items-center justify-between">
                <span>{{category.value}}</span>
                <div [ngStyle]="{'background-color': category.color}" class="category-color"></div>
              </div>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="search-field">
        <mat-form-field appearance="outline" class="w-full">
          <input (keyup.enter)="onEnter()"
                 [formControl]="searchControl"
                 matInput
                 placeholder="Suche nach Region, Bauwerk, Jahr, ..."
                 type="text"
          >
          <mat-icon fontIcon="fa-magnifying-glass" fontSet="fa" matPrefix></mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div #map class="map"></div>
    <div *ngIf="detailOpened">
      <app-detail-page (closeEventEmitter)="detailOpened = false" [id$]="selectedId$"></app-detail-page>
    </div>
  </div>
</div>
