<div class="detail-page-body border-l-2">
  <div class="flex flex-row justify-between">
    <h2 class="font-bold">{{construction?.structure}}</h2>
    <a (click)="close()" class="cursor-pointer">schliessen</a>
  </div>
  <div *ngIf="construction; else loading" class="flex flex-col">
    <div class="flex flex-row mt-4">
      <p class="label">Ort</p>
      <p class="information">{{construction.city}}</p>
    </div>
    <div class="flex flex-row mt-4">
      <p class="label">Koordinaten</p>
      <p class="information">{{coordinates()}}</p>
    </div>
    <div class="flex flex-row mt-4">
      <p class="label">Architektur</p>
      <p *ngIf="construction.architecture; else empty" class="information">{{construction.architecture}}</p>
    </div>
    <div class="flex flex-row mt-4">
      <p class="label">Baujahr</p>
      <p *ngIf="construction.constructionYear; else empty" class="information">{{construction.constructionYear}}</p>
    </div>
    <div class="flex flex-row mt-4">
      <p class="label">Beschrieb</p>
      <pre *ngIf="construction.description; else empty"
           class="information  whitespace-pre-wrap max-w-fit">{{construction.description}}</pre>
    </div>
    <div class="flex flex-row mt-4">
      <p class="label">Link</p>
      <a *ngIf="construction.link; else empty" [href]="construction.link" class="text-blue-500 underline"
         target="_blank">{{construction.link}}</a>
    </div>
    <div class="image-wrapper flex flex-row flex-wrap">
      <div *ngFor="let image of construction.images" class="mr-4">
        <img src="data:image/png;base64,{{image.image}}">
      </div>
    </div>
  </div>
</div>
<ng-template #loading>Die Informationen werden geladen..</ng-template>
<ng-template #empty>-</ng-template>
