/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

.info-text-wrapper {
  margin-top: 5px;
  margin-bottom: 3px;
}

.info-text {
  border-bottom: 1px solid black;
}

.info-text:hover {
  cursor: pointer;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
